<!-- header start -->
 <header >
    <div class="hdr_topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="hdr_topbar_line">
                        <p>enjoy free shipping, volume discounts, exclusive sales, access to a Facebook group, and a low $50 minimum on all orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_topbar">
        <div class="container-fluid">
            <div class="row align-items-center">
                
                <div class="col-lg-4 col-md-5 col-sm-5 col-12 ">
                    <div class="hdr_contact">
                        <ul>
                            
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-location-dot"></i>
                                Portugal
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa-solid fa-phone"></i> 123-456-7890</a>
                            </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa-solid fa-envelope"></i> info@domain.com</a>
                                </a>
                            </li>
                        </ul>
                </div>

                        <!-- <div class="policy_menu nav stroke">
                            <ul class="policy">
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#">Terms And Conition</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div> -->
                </div>
                <!-- <div class="">

                    <div class="hdr_social">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            
                        </ul>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="hdr_search ">
                        <input type="text" name="" id="" placeholder="Search Here">
                        <a href="javascript:void(0)">    
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    
                    <div class="hdr_right">
                        <div class="lang_select default_select">
                            <img src="images/america.jpg" alt="">
                            <select name="" id="" class="language">
                                <option value="">Portuguese </option>
                               <option value=""> English</option>
                            </select>
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                        <div class="hdr_cart">
                            <ul class="icon">
                                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header_middle_bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="categories default_select">
                        <select name="" id="" class="categories default_select">
                            <option value="">Categories</option>
                            <option value="">Iphone</option>
                            <option value="">Samsung</option>
                            <option value="">Vivo</option>
                            <option value="">Oppo</option>
                            <option value="">Realme</option>
                        </select>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav stroke">
                        <ul id="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom_bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </div>
 </header>

 <div class="container">
    <div class="row">
       
    </div>
 </div>


<!-- header end-->